.header {
  background-color: $navy-blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .75rem 5%;

  &__logo {
    text-decoration: none;
    color: $eggshell;
    font-size: 1.75rem;
    letter-spacing: 1.75px;
    font-weight: 300;

    &--light {
      color: $coral;
    }
  }

  &__add-entry {
    background: transparent;
    border: none;
    font-size: 2.5rem;
    color: $coral;
    font-family: inherit;
    transition: .3s;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:hover {
      color: white;
    }
  }
}
