.prev-entries {
  margin-top: 1rem;

  & > h2 {
    padding: 1rem 1rem .5rem;
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .5px;
    border-bottom: 1px solid $coral;
  }
}

.prev-entries-list {
  list-style: none;
  background-color: white;
  color: black;
  padding: 1rem;
  margin-top: 1rem;

  &__item {

    & > h1 {
      font-size: 1.4rem;
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: .5px;
      margin-bottom: 0;
      cursor: pointer;
    }

    &.empty {
      display: none;
    }

    .day-entry {
      margin-top: 1rem;
      display: none;

      &.visible {
        display: block;
      }

      & > h2 {
        font-size: 1.25rem;
        text-transform: uppercase;
        cursor: pointer;
      }

      .prev-entries-workouts {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        list-style: none;
        padding-top: 1rem;
        border-top: 2px solid black;
        margin-top: 1rem;
        display: none;

        &.visible {
          display: flex;
        }

        li {
          margin: 0 1rem 1rem 0;
          display: flex;
          justify-content: space-between;

          div {
            margin-left: 1.5rem;
            display: flex;
          }
        }

        h3 {
          font-size: 1rem;
          text-transform: uppercase;
          letter-spacing: .5px;
          margin-bottom: .25rem;
          margin-right: 1rem;
          flex: 1;
        }

        p {
          font-size: 1rem;
          letter-spacing: .5px;
          margin-right: 1rem;
        }
      }

      &.empty {
        display: none;
      }
    }
  }
}
